<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48313033355-3sulmok526eju1ht9qltlicr9bi33epl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48313033355-3sulmok526eju1ht9qltlicr9bi33epl</string>
	<key>API_KEY</key>
	<string>AIzaSyDcXPT-MTR493lcolmHczwYU-4iXZPuwYA</string>
	<key>GCM_SENDER_ID</key>
	<string>48313033355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soktyheng.com.HealthyLivingCompanion</string>
	<key>PROJECT_ID</key>
	<string>healthy-living-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-living-companion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48313033355:ios:6e05e4c2d92d05bbc46a8e</string>
</dict>
</plist>